.csHeaderCont {
    flex-direction: row;
    margin-left: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.csItem {
    align-self: center;
    /* width: 100%;
    align-self: center;
    margin-left: 5rem; */
}

.csBannerCont {
    flex-direction: column;
    justify-content: flex-start;
    width: auto;
    margin: 1rem 1rem 1rem 1rem;

    justify-self: center;
}

.csBanner {
    max-height: 90vh;
}

.bannerImage {
    width: auto;
    height: auto;
    margin: auto;
    max-height: 80vh;
}

.csContent {
    flex-direction: column;
    justify-content: flex-start;
}

.csHeadingGroup {
    align-self: center;
    margin-top: -200px;
    margin-bottom: 0px;
}

.csHeading {
    text-align: center;
    line-height: 0.25rem;
}

.csHeading-1 {
    font-size: 5rem;
}

.csHeading-2 {
    font-size: 1rem;
}

@media screen and (min-width: 375px) and (max-width: 768px) {
    .csHeadingGroup {
        align-self: center;
        margin-top: -50px;
        order: -1;
        margin-top: 5vh;
        margin-bottom: 5vh;
    }

    .csHeading-1 {
        font-size: 3rem;
    }

    .csHeading-2 {
        font-size: 1em;
    }
}

/* Default Tab breakpoint*/
@media screen and (min-width: 768px) and (max-width: 992px) {
    .csBanner {
    }

    .bannerImage {
        width: auto;
        height: auto;
        margin: auto;
        max-height: 70vh;
    }

    .csHeadingGroup {
        align-self: center;
        margin-top: -90px;
    }

    .csHeading-1 {
        font-size: 2rem;
    }

    .csHeading-2 {
        font-size: 1em;
    }
}

/* Default Desktop breakpoint*/
@media screen and (min-width: 992px) {
}
